################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/terminus-webapi/v16
/bin/Debug/netcoreapp3.1
/obj
